$color--primary: #663399;
$color--primary-light: #bba0d6;
$color--primary-dark: #542c85;
$color--heading: #27212b;
$color--text:#444;
$color--link: #50237c;
$color--gray-one: #eaecf1;
$color--gray-two: #e1e2e8;
$color--gray-three: #9a9ca1;
$color--gray-four: #656e75;
